@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: var(--green-500);
  padding: 1.25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-align: center;
  font-family: "Inter";
  color: var(--white);
  transition: ease-out 0.2s;
}

.name:hover {
  color: #5ddd6e;
}
